<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832526824375-lch37hjcu7ssjbt2l842193ivhucc3rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832526824375-lch37hjcu7ssjbt2l842193ivhucc3rv</string>
	<key>API_KEY</key>
	<string>AIzaSyBf3j5bOov_UWNOq2vjsrOsA2Yn18f50Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>832526824375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>social-app-7ee16</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-7ee16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832526824375:ios:5fb468a6d3f6b42ab62e32</string>
</dict>
</plist>